/* isotope bootsrrap  */
.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul {
  padding-left: 0;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

/* .portfolio-item{
	width:100%;
} */
.portfolio-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}
/* isotope bootsrrap  */
.gallery{
    width: 100%;
    height: 100vh;
    color: white;
    background: url("images/17.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.gallery-content{
  position: absolute;
  width: 90%;
}
.gallery-overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}